body {
  background: #ddd;
}

h1 {
  padding: 0;
  margin: 0 0 25px;
}

.page {
  max-width: 1024px;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
}

.carousel {
  /* width: calc(100% + 10px);
  left: -5px;*/
}

.carouselMask {
  box-sizing: border-box;
  padding: 0 45px;
}

.carouselContent {
  transition: transform ease .5s;
  width: calc(100% + 10px);
  left: -5px;
  position: relative;
}

.square .item {
  background: #6699ff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.square .item::before {
  display: block;
  content: "";
  padding-top: 100%;
}

.textBeneath .item .image {
  width: 100%;
  background: #6699ff;
}

.textBeneath .item .image::before {
  display: block;
  content: "";
  padding-top: 66.67%;
}
